.popup-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px; 
    text-align: center;
  }
  
  .user-details {
    margin-bottom: 20px;
  }
  
  .profile-container {
    cursor: pointer;
  }
  .popup-profile-image {
    width: 150px; /* Set the width */
    height: 150px; /* Set the height */
    border-radius: 50%; /* Circular image */
    object-fit: cover; /* Cover the area without stretching */
    margin-bottom: 16px; /* Space between the image and the text */
  }